<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
<!--     
  <test thread-count="5" name="Test_chrome">
 <classes>
     <class name= "com.Fareye.main.BaseClass"/>
         <class name= "com.Fareye.main.ChromeIntialise"/>         
 </classes>
   </test>
  -->   
   <test thread-count="5" name="Test_firefox">
 <classes>
     <class name= "com.Fareye.main.BaseClass"/>
    <class name= "com.Fareye.main.firefoxIntialise"/>
 </classes>
      
  </test> 
 
</suite> <!-- Suite -->
